// https://yalter.github.io/niri/Configuration:-Include
//
include "input.kdl"
include "output.kdl"
include "key_bindings.kdl"
include "layout.kdl"
include "named_workspaces.kdl"
include "miscellaneous/spawn_at_startup.kdl"
include "miscellaneous/screenshot_path.kdl"
include "miscellaneous/environment.kdl"
include "miscellaneous/cursor.kdl"
include "miscellaneous/overview.kdl"
include "miscellaneous/xwayland_satellite.kdl"
include "miscellaneous/hotkey_overlay.kdl"
include "window_rules.kdl"
include "layer_rules.kdl"
include "animations.kdl"
include "gestures.kdl"
include "recent_windows.kdl"
